body
{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,118,0,1) 5%, rgba(232,174,13,1) 10%, rgba(219,207,26,1) 15%, rgba(169,206,39,1) 20%, rgba(84,194,53,1) 25%, rgba(66,182,108,1) 30%, rgba(61,170,156,1) 35%, rgba(55,133,165,1) 40%, rgba(52,82,170,1) 45%, rgba(54,48,176,1) 50%, rgba(77,46,179,1) 55%, rgba(114,43,186,1) 60%, rgba(150,40,193,1) 65%, rgba(184,37,200,1) 70%, rgba(178,34,206,1) 75%, rgba(204,31,212,1) 80%, rgba(221,27,194,1) 85%, rgba(206,24,172,1) 90%, rgba(205,18,101,1) 95%, rgba(255,0,0,1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background: rgb(0,255,106);
background: linear-gradient(90deg, rgba(0,255,106,1) 0%, rgba(92,156,255,1) 31%, rgba(0,35,254,1) 50%, rgba(242,12,253,1) 69%, rgba(193,0,251,1) 100%);
}

#start,#number_of_objects,#status
{
    font-size: 18px;
}
.copy_right_footer
{
    position:fixed;
    line-height: 3;
    background: rgb(20,108,255);
    background: linear-gradient(90deg, rgba(20,108,255,1) 0%, rgba(81,255,226,1) 25%, rgba(76,239,53,1) 50%, rgba(255,188,0,1) 75%, rgba(255,20,20,1) 100%);
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    text-align: center;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px white;
    margin-top: 100px;
}
    

#start:hover{
 background: rgb(0,255,230);
    background: linear-gradient(90deg, rgba(0,255,230,1) 0%, rgba(0,10,255,1) 100%);
}